@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply text-gray-100;
      @apply bg-gray-400-spotify;
      @apply font-spotify
    }
}

@font-face {
  font-family: Circular;
  src: url('./assets/font/CircularBook.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url('./assets/font/CircularMedium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Circular;
  src: url('./assets/font/CircularBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Circular;
  src: url('./assets/font/CircularBlack.ttf');
  font-weight: 900;
}

.container {
  @apply w-full px-20 pt-20 pb-0
}

.btn {
  @apply whitespace-nowrap bg-transparent border border-white px-6 py-3 rounded-full text-xs tracking-wide font-bold hover:bg-white hover:text-black duration-300 
}

.btn-green {
  @apply whitespace-nowrap bg-spotify-green-2 px-6 py-3 rounded-full text-xs tracking-wide font-bold hover:bg-white hover:text-black duration-300 
}